<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Math Maker!!</title>
       
    </head>
    <body>
        <h1>THE SPECTACULAR MATHNASTIC MATHERTON!!!</h1>
        <div>
            <input type="text" name="x" placeholder="number" id="x">
        </div>
        <div>
            <input type="text" name="y" placeholder="number" id="y">
        </div>
        <div>
            <button id="add" class="buttons" type="submit">add'em</button>
            <button id="subtract" class="buttons" type="submit">subtract'em</button>
            <button id="multiply" class="buttons" type="submit">multiply'em</button>
            <button id="divide" class="buttons" type="submit">divide'em</button>
            <button id="clear" type="submit">clear'em</button>
        </div>
        <hr>
        <div class="results"></div>
        <script src="jquery-3.2.1.min.js"></script>
        <script src="client.js"></script>
    </body>
</html>